/*------------------*
# Base
*------------------*/

@import "../styles/mixins.scss";
@import "../styles/variables.scss";

html {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: $base-font-family;
    margin: 0;
    padding: 0;
    font-size: 62.5%;                   // Такое значение font-size используется для удобства конвертации px в rem (62.5% от размера шрифта браузера 16px = 10px),
                                        // подробнее об этом методе можно узнать из статьи https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
    @include tablet {
        font-size: 58.5%;
    } 
}

* {
    
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    font-size: 1.8rem;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
}

a {
    text-decoration: none;
    transition: all .3s ease-in-out;

    &:hover, &:active {
        text-decoration: none;
    }
}

h1, .h1 {
    font-size: 7rem;
    line-height: 8rem;
    text-transform: uppercase;
}

h2, .h2 {
    font-size: 5.2rem;
    line-height: 6rem;
    text-transform: uppercase;
}

h3, .h3 {
    font-size: 3.2rem;
    line-height: 4rem;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 14px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all .5s ease-in-out;

    &--white {
        background-color: $color-white;
        color: $color-black;
    }

    &--blue {
        background-color: $color-blue;
        color: $color-white;
    }

    &--mobile {
        display: none;

        @include mobile {
            display: block;
        }
    }
}