/*
 * Base colors
*/

$color-white: #ffffff !default;
$color-black: #000000 !default;
$color-blue: #3C4497;
$color-yellow: #FFD907;
$color-dark-blue: #272733;


$base-font-family: 'Circe', sans-serif;


